[package]
name = "dazzle"
description = "process and install TF2 mods"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[workspace]
default-members = [ ".", ]
members = [
    ".",
    "dmx",
    "pcf",
    "nanoserde",
    "tools/pcftree",
    "tools/pcfstrip",
    "experiments/tf2-bsearch-strip"
]

[features]
default = []
split_item_fx_pcf = []

[profile.profiling]
inherits = "release"
debug = true

[dependencies]
eframe = "0.33"
egui_extras = { version = "0.33", features = [ "all_loaders" ] }
image = { version = "0.25", features = [ "png" ]}
anyhow = "1.0"
byteorder = "1.5"
bytes = "1.11"
buf_read_write = "0.5"
dmx = { path = "dmx" }
pcf = { version = "0.1.0", path = "pcf" }
copy_dir = "0.1"
vpk = "0.3"
directories = { version = "6.0" }
derive_more = { version = "2.1", features = [ "from", "into" ] }
thiserror = "2.0"
glob = "0.3"
walkdir = "2.5"
relative-path = "2.0"
single-instance = "0.3"
typed-path = "0.11"
nanoserde = { path = "nanoserde", default-features = false, features = ["std", "json"] }
ordermap = "1.0"
keyvalues-parser = "0.2"
hashbrown = "0.16"
crc32fast = "1.5"
md-5 = "0.10"
rayon = "1.11"
rfd = "0.17"
permissions = "0.5"

[build-dependencies]
copy_to_output = "2.2.0"
glob = "0.3"

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
todo = "forbid"
empty_loop = "forbid"
infinite_loop = "deny"
mem_forget = "deny"
